body {
    /*background: linear-gradient(180deg, #051733, #030a18);*/
    background: linear-gradient(0deg, #030a18, #051733 90%);;
    color: deepskyblue;
    margin: 0;
    font-family: "Arial Rounded MT Bold";
    max-height: 100vh;
}

/*
#051733 - lighter
#030a18 - darker

#18436b - border

#10203d - lighter-side-bar


#3887cb - arrow lighter
#2e6eaa - arrow darker

#3c90d8 - icon

#bd3e52 - selected - red
#953345 - selected - red

*/

.grid-container {
    display: grid;
     grid-template: [header-left] "head head" 30px [header-right]
                    [main-left]   "nav  main" 1fr  [main-right]
                    [footer-left] "nav  foot" 30px [footer-right]
                    / 120px 1fr;
}

#content {
    max-height: 100vh;
    grid-area: main;
    overflow: auto;
}

.nav-container{
    max-height: 100vh;
    background: linear-gradient(0deg, #10203d, #030a18);
    border-right: #18436b solid 2px;
    grid-area: nav;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 200px;
}

.left-menu {
    grid-column: 1;
}

.logo {

}

#hamburger{
    height: 25px;
    width: 25px;
}

.product_card {
    background: purple;
    border-radius: 20px;
    float: left;
    max-width: 250px;
    padding: 30px;
    margin: 30px;
    height: fit-content;
    overflow: hidden;
}

.product_card:hover {
    box-shadow: 0 10px 25px 0 rgb(151, 45, 195);
}

.content_title {

}

.product_name {
    color: aquamarine;
}

.store_name {
    color: aqua;
}

.current_prices {
    visibility: hidden;
}

.store_current {
    border: 2px solid deepskyblue;
    padding: 10px;
}