body {
    background: white;
    color: deepskyblue;
}

.grid-container{
    display: grid;
}

.nav-container{
    background: #202020;
    width: 100%;
}

nav{
    max-width: 1720px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.left-menu {
    grid-column: 1;
}

.logo {
    grid-column: 2;
}

#hamburger{
    height: 50px;
    width: 50px;
}

.product_card{
    background: purple;
    border-radius: 20px;
    float: left;
    max-width: 100px;
    max-height: 300px;
    padding: 30px;
    margin: 30px;
}

.product_card:hover {
  box-shadow: 0 10px 25px 0 rgba(0,0,0,5);
}

.content_title{

}