:root {
    --main_darker: #030a18;
    --main_lighter: #051733;
    --main_lightest: #349cff;
    --borders: #2662a4;
    --arrow_lighter: #3887cb;
    --arrow_darker: #2e6eaa;
    --icon: #3c90d8;
    --selected_color: #bd3e52;
    --selected_accent: #953345;

    --new-bg: #040220;
    --new-bg-light: #050241;
    --new-bg-gradient-light: #100e2c;
    --new-font_color: #b5b2d0;
    --new-secondary-font_color: #424160;
    --new-red: #bd2e51;
    --new-red-accent: #cd224c;
    --new-yellow-accent: #f3c845;
    --new-lightblue-accent: #51b0c3;
    --new-darkerblue-accent: #32637b;
    --new-purple-accent: #47418a;
}


body {
    background: var(--new-bg);
    color: deepskyblue;
    margin: 0;
    font-family: "Roboto Thin";
    height: 100vh;
}

.title {
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template: [main-left]   "nav  main" 1fr  [main-right]
    [footer-left] "foot foot" 30px [footer-right]
                    / 200px 1fr;
    height: 100vh;

}

#content {
    max-height: 100vh;
    grid-area: main;
    overflow: auto;
    padding-left: 20px;
}

.nav-container{
    background: var(--new-bg-light);
    border-right: #18436b solid 2px;
    grid-area: nav;
    left: 0;
    top: 0;
}

.footer{
    background: black;
    grid-area: foot;
}

.menu-options {
    grid-column: 1;
    margin-left:auto;
    margin-right:auto;
}

.menu-title {
    text-align: center;
}

.menu-options a{
    color: var(--new-red);
    /*text-align: center;*/
}

.logo {

}

#hamburger{
    height: 25px;
    width: 25px;
}

.product_card {
    background: linear-gradient(to bottom right, var(--new-bg-light), var(--new-bg-gradient-light));
    border: 1px solid var(--new-font_color);
    border-radius: 20px;
    float: left;
    max-width: 250px;
    margin: 30px;
    height: fit-content;
    /*min-height: 200px;*/
    overflow: hidden;
    --padding_side: 30px;
}

.product_card:hover {
    box-shadow: 0 10px 25px 0 rgb(151, 45, 195);
}

.product_card .product_type {
    padding: 8px var(--padding_side);
    border-bottom: 2px solid var(--new-red-accent);
    text-align: center;
}

.product_card .product_info {
    padding: 8px var(--padding_side);
}

.best_prices{
    display: flex;
    flex-direction: column;
}
.best_store_name{
    text-align: center;
    width: auto;
    background: var(--new-yellow-accent);
    color: black;
    font-style: italic;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px auto;
    align-self: center;
    display: inline-block;
}

.best_prices_values{
    display: flex;
}

.best_prices_values div {
    padding: 5px;
    flex-basis: 0;
    flex-grow: 1;
}


.prices{
    display: none;
}

.content_title {
}

.product_name {
    color: var(--new-font_color);
}

.store_name {

}

.current_prices {
    visibility: hidden;
}

.store_current {
    border: 2px solid deepskyblue;
    padding: 10px;
}

table {
    font-size: x-small;
    text-align: center;
    border: 1px solid black;
}

th {
    background: darkorange;
    color: black;
    text-align: center;
}