<!-- TODO NEEDS REFACTOR TO JINJA2 -->
<!-- TODO NEEDS TO USE BASE.HTML AND EXTEND FROM IT -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Monitor</title>
    <style>
        table, th, td {
            border: 1px solid;
            text-align: center;
        }
        td{
            padding: 9px;
        }
    </style>
</head>

<body>
<!--TODO create FOR structure for <tr> with data-->
<p>{{products_dict}}</p>
<table>
    <tbody>
    <tr>
        <td rowspan="2">Product name</td>
        <td rowspan="2">Payment method </td>
        <td colspan="3">Prices</td>
    </tr>
    <tr>
        <td>KABUM</td>
        <td>PICHAU</td>
        <td>TERABYTE</td>
    </tr>
    <tr>
        <td rowspan="2"> CPU</td>
        <td>CASH</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Installments</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
    </tr>
    </tbody>
</table>

</body>
</html>