<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - Price Monitor</title>
    {% else %}
        <title>Price Monitor</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="grid-container">
    <div class="nav-container">
        <nav>
            <label for="nav-toggle" class="burger-menu">
                <img id="hamburger" src="{{ url_for('static', filename='burger.png') }}" alt="">
            </label>
            <div class="left-menu">
                <a href="/index">Home</a>
                <a href="/product_editor">Product editor</a>
                <a href="/product_list">List</a>
            </div>
            <div>
                <a href="google.com" class="logo">Testing auto</a>
            </div>
        </nav>

    </div>

    <div id="header">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>


    <div id="content">

        {# Display block content on extend call #}
        {% block content %}{% endblock %}

    </div>

</div>

</body>
</html>