<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Price Monitor</title>
    {% else %}
    <title>Price Monitor</title>
    {% endif %}
</head>
<body>
<div>Price Monitor: <a href="/index">Home</a></div>
<div>Add new product: <a href="/add_product">Add product to db</a></div>
<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{# Display block content on extend call #}
{% block content %}{% endblock %}

</body>
</html>