<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - Price Monitor</title>
    {% else %}
        <title>Price Monitor</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="grid-container">
    <div id="menu">
        <div class="button">Price Monitor: <a href="/index">Home</a></div>
        <div class="button">New product: <a href="/product_editor">Product editor</a></div>
        <div class="button">List of registered products: <a href="/product_list">List</a></div>
    </div>

    <hr>
    <div id="header">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>


    <div id="content">
        {# Display block content on extend call #}
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>