{% extends "base.html" %}

{% block content %}
    <h1 class="content_title">Hi, {{ user }}, here are your products: </h1>


    {% for product_id in products %}

        <div class="product_card">
            <div class="product_info">
                <div class="product_name"> {{ products[product_id]['product_name'] }} </div>
                <div class="product_type"> {{ products[product_id]['product_type'] }} </div>
            </div>
            <div class="prices">
                <div class="best_prices">
                    Store: {{ products[product_id]['best_store'] }} <br>
                    Price cash: {{ products[product_id]['best_cash'] }} <br>
                    Price: {{ products[product_id]['best_price'] }} <br>
                    Installments (no tax): {{ products[product_id]['best_installment'] }}
                </div>
                <div class="current_prices">
                    {% for store in stores %}
                    {{ products[product_id]['current_prices'] }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}