{% extends "base.html" %}

{% block content %}
    <div class="title">
        <div class="content_title">Hi, {{ user }}, here are your products: </div>
    </div>

    {% for product_id in products %}

        <div class="product_card">
            <div class="product_type"> {{ products[product_id]['product_type'] }} </div>
            <div class="product_info">
                <div class="product_name"> {{ products[product_id]['product_name'] }} </div>
                <div class="best_prices">
                    <div class="best_store_name"> {{ products[product_id]['best_store'].upper() }} </div>
                    <div class="best_prices_values">
                        <div> {{ products[product_id]['best_cash'] }} </div>
                        <div>
                            {{ products[product_id]['best_price'] }}
                            <span class="best_installments">
                              {{ products[product_id]['best_installment'] }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prices" style="display: none">
                <br><br>
                <div class="current_prices">

                    {% for store in stores %}

                        <div class="store_current">
                            <p class="store_name">{{ store.upper() }}</p>
                            <p>Price: {{ products[product_id]['current_prices'][store]['price'] }}</p>
                            <p>Price cash: {{ products[product_id]['current_prices'][store]['price_cash'] }}</p>
                            <p>Installments: {{ products[product_id]['current_prices'][store]['installments'] }}</p>
                            <p>Last scrap: {{ products[product_id]['current_prices'][store]['last_update'] }}</p>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}