{% extends 'base.html' %}

{% block content %}

    <table>
        <tbody>
            <tr>
                <td>Product ID</td>
                <td>Product type</td>
                <td>Product name</td>
                <td>Product description</td>
                <td>Kabum</td>
                <td>Pichau</td>
                <td>Terabyte</td>
                <td>Date added</td>
                <td>Edit link</td>
                <td>Delete</td>
            </tr>

            {% for product in list %}
                    <tr>
                        <td>{{ product[0] }}</td>   {# Product ID #}
                        <td>{{ product[1] }}</td>   {# Product type #}
                        <td>{{ product[2] }}</td>   {# Product name #}
                        <td>{{ product[3] }}</td>   {# Product description #}
                        {% if product[4] != 'Invalid link given.' %}
                            <td><a href="{{ kabum    ~ product[4] }}">link</a></td>   {# Kabum #}
                        {% else %}
                            <td>Not given</td>
                        {% endif %}

                        {% if product[5] != 'Invalid link given.' %}
                            <td><a href="{{ pichau   ~ product[5] }}">link</a></td>   {# Pichau #}
                        {% else %}
                            <td>Not given</td>
                        {% endif %}

                        {% if product[6] != 'Invalid link given.' %}
                            <td><a href="{{ pichau   ~ product[5] }}">link</a></td>   {# Pichau #}
                        {% else %}
                            <td>Not given</td>
                        {% endif %}

                        {% if product[5] != 'Invalid link given.' %}
                            <td><a href="{{ terabyte ~ product[6] }}">link</a></td>   {# Terabyte #}
                        {% else %}
                            <td>Not given</td>
                        {% endif %}

                        <td>{{ product[7] }}</td>   {# Date #}
                        <td> <a href="edit_product?id={{ product[0] }}">Edit product</a></td>
                        <td> <a href="delete_product?id={{ product[0] }}">Delete</a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}